{% extends 'MelnikBlogBundle::layout.html.twig' %}

{% block title %}About me{% endblock%}

{% block body %}
    <header>
        <h1>About me</h1>
    </header>
    <article>
        <p>My name is Sergiy Melnik.</p>
    </article>
{% endblock %}